@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply m-0 min-h-screen bg-accent-50 font-sans text-primary-900 antialiased;
  }

  #root {
    @apply min-h-screen;
  }
}
